<!DOCTYPE html>
<html  ng-app = 'landingapp' lang="en">
<head>
<!-- <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge"> -->

<!-- <link rel="stylesheet" href="../css/reset.css"> -->
 <link rel="stylesheet" href="../css/landingpage.css">
<title>Home</title>
</header>
<body>
      <header id="landing">
            <h1 class ="ti">Welcome to School Notes Magazine<h1>
            <div class = "Btt">
                  <button ng-click="" class = "Bt" href="#">School County</button>
                  <div class="dropdown">
                        <button onclick="window.location.href='http://localhost:3000/home'" type="button">Alacha Home</button>
                        <button onclick="window.location.href='http://localhost:3000/home'" type="button">Marion Home</button>
                  </div>
      </div>
      </header>

</body>

</html>
